@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono&display=swap');
body, html{
    background-color: rgb(77, 18, 18);
    color: rgb(255, 255, 255);
    font-family: "Ubuntu Mono", sans-serif;
}
/* CLASSES */
.centered{
    text-align: center;
}
/* STYLE BY ELEMENT TYPE */
header{
    font-family: "Bebas Neue", sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    text-align: left;
}
table th, table td {
    border: 1px solid #ddd;
}
td{
    width: 15px;
}
/* STYLE BY ID */
#outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inner{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
#controls-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#game-board-div{
    flex-direction: column;
    gap: 20px;
}
#img-div {
    display: grid;
    grid-template-columns: repeat(65, 1fr);
}
#image{
    grid-column: 28 / 38;
}

