@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono&display=swap');
body, html{
    background-color: rgb(30, 28, 28);
    color: rgb(255, 255, 255);
    font-family: "Ubuntu Mono", sans-serif;
}
/* CLASSES */
.centered{
    text-align: center;
}
/* STYLE BY ELEMENT TYPE */
header{
    font-family: "Bebas Neue", sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: left;
}
table th, table td {
    border: 1px solid #500101;
}
/* STYLE BY ID */
#outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inner{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}
#input-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#order-processing{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid #500101;
    border-radius: 10px;
    padding: 20px;
}
